.container {
    height: 100vh;
    width: 1280px;
    padding: 0;
    margin-top: 100px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 0 1rem;
    margin: 50px auto;
    max-width: 1280px;
    height: 100%;
}

.leftSide {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h1 {
        margin-bottom: 5px;
    }
}

.rightSide {
    width: 100%;
    height: 420px;
}

:global(.leaflet-control-attribution a svg),
:global(.leaflet-control-attribution .leaflet-attribution-logo) {
    display: none !important;
}
