.footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-top: 1px solid var(--border-light);
    width: 100%;
    height: 70px;
    z-index: 1000;
}

.footerText {
    display: flex;
    font-size: 14px;
    color: var(--text-muted);
    text-align: center;
}

.footerLogo {
    display: flex;
    width: 25%;
    height: 100%;
    object-fit: contain;
}
